<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="{{url}}" target="_blank">Get auth code</a>
        <form method="post" action="/login", autocomplete="off">
            <label for="auth_code">Enter Auth Code</label>
            <br>
            <input type="password" id="auth_code" name="auth_code">
            <input class="submit" type="submit" value="Enter">
        </form>
    </body>
</html>
